#############################################################################################################################################
#####################################################DEFAULT PARAMETERS######################################################################
# [sources]
# DETECT_THRESH = 3				; Brightness an object must have above the local background in order to be detected (σ).
# ANALYSIS_THRESH = 3				; Surface brightness threshold at which CLASS_STAR and FWHM operate.
# DETECT_MINAREA = 1				; Minimum number of continuous adjacent pixels with flux values over the DETECT_THRESH limit.
# PIXEL_SCALE = 0.31				; Pixel scale subtended by the telescope/CCD system (arcsec) (0 = use FITS WCS info).
# SEEING_FWHM = 1.5				; Stellar FWHM (arcsec).
# PHOT_AUTOPARAMS = '"2.5, 3.5"'		; MAG_AUTO parameters: <Kron_fact>, <min_radius>.
# BACK_SIZE = 64				; Background mesh: <size> or <width>,<height>.
# BACK_FILTERSIZE = 3				; Background filter: <size> or <width>,<height>.
# DEBLEND_NTHRESH = 16				; Number of deblending sub-thresholds.
# SATUR_LEVEL = 60000				; Saturation level (ADU).
# DEBLEND_MINCONT = 0.00001			; Minimum contrast parameter for deblending.
# GAIN = 0.55					; Detector gain (e-/ADU).
# rerun = True					; Runs SExtractor even if the catalog directory already exists.
# keepcat = True				; Keeps extracted catalog files.
# verbose = False				; Notifies the user via terminal.
#
# [asteroids]
# FWHM_MIN = 1					; Minimum FWHM of a moving object (pixel).
# FWHM_COEFFICIENT = 2.5                        ; Coefficient to calculate maximum FWHM (FWHM_COEFFICIENT * average FWHM).
# FLUX_MAX = 500000				; Maximum flux of a moving object (count).
# FLAG_MAX = 31                                 ; Maximum number of sum of FLAG values.
# ELONGATION_MAX = 1.8				; Maximum elongation of a moving object.
# SNR_MIN = 10					; Minimum SNR of a moving object.
# TRAVEL_MIN = 0.5				; Minimum distance a moving object has to travel between two images (pixel).
# HEIGHT_MAX = 0.1				; Maximum height of the triangle for 3 points to be considered as collinear (pixel).
# SCALE = 0.31					; Pixel scale subtended by the telescope/CCD system (arcsec).
# V_MAX = 0.03					; Maximum angular velocity of a moving object ("/sec).
# TOLERANCE = 1.0				; Tolerance for the position of the third point (pixel).
# SPEED_MIN = 0.1				; Minimum speed of a moving object (px/min).
#
# [mpcreport]
# LIM_MAG = 21                                  ; The faintest objects that can be detected.
# RADIUS = 10                                   ; The radius to be queried (arcsec).
# MPC_DATABASE_PATH = MPCORB.DAT                ; The MPC Orbit (MPCORB) Database path.
# OBSERVATORY = F51                             ; Observatory Code
# CONTACT = yucelkilic@myrafproject.org         ; E-mail of the contact person.
# CATALOG = GAIA DR1                            ; Used catalogue.
# RA = OBJCTRA                                  ; Right ascension (RA) keyword in the FITS header.
# DEC = OBJCTDEC                                ; Declination (DEC) keyword in the FITS header.
# DATE = DATE-OBS                               ; Date keyword in the FITS header.
# EXPTIME = EXPTIME                             ; Exposure time keyword in the FITS header.
# OBSERVER = Y. Kilic                           ; Observers or OBSERVER keyword in the FITS header.
# TELESCOPE = TELESCOP                          ; TELESCOPE keyword in the FITS header.
#############################################################################################################################################

# DO NOT CHANGE THESE SETTINGS IF YOU DON'T KNOW WHAT YOU ARE DOING!

[sources]
DETECT_THRESH = 3
ANALYSIS_THRESH = 3
DETECT_MINAREA = 1
PIXEL_SCALE = 0.26
SEEING_FWHM = 1.5
PHOT_AUTOPARAMS = '"2.5, 3.5"'
BACK_SIZE = 64
BACK_FILTERSIZE = 3
DEBLEND_NTHRESH = 16
SATUR_LEVEL = 60000
DEBLEND_MINCONT = 0.00001
GAIN = 0.9
rerun = True
keepcat = True
verbose = False

[asteroids]
FWHM_MIN = 1
FWHM_COEFFICIENT = 2.5
FLUX_MAX = 500000
FLAG_MAX = 31
ELONGATION_MAX = 1.8
SNR_MIN = 5
TRAVEL_MIN = 0.5
HEIGHT_MAX = 0.1
SCALE = 0.26
V_MAX = 0.03
TOLERANCE = 1.0
SPEED_MIN = 0.1

[mpcreport]
LIM_MAG = 21
RADIUS = 10
MPC_DATABASE_PATH = /Users/ykilic/Documents/playground/A-Track/mpcreporter/MPCORB.DAT
OBSERVATORY = F51
CONTACT = yucelkilic@myrafproject.org
CATALOG = GAIA DR1
RA = OBJCTRA
DEC = OBJCTDEC
DATE = DATE-OBS
EXPTIME = EXPTIME
OBSERVER = Y. Kilic
TELESCOPE = TELESCOP
