#############################################################################################################################################
#####################################################DEFAULT PARAMETERS######################################################################
# [sources]																
# DETECT_THRESH = 3				; Brightness an object must have above the local background in order to be detected (σ).
# ANALYSIS_THRESH = 3				; Surface brightness threshold at which CLASS_STAR and FWHM operate.
# DETECT_MINAREA = 1				; Minimum number of continuous adjacent pixels with flux values over the DETECT_THRESH limit.
# PIXEL_SCALE = 0.31				; Pixel scale subtended by the telescope/CCD system (arcsec) (0 = use FITS WCS info).
# SEEING_FWHM = 1.5				; Stellar FWHM (arcsec).
# PHOT_AUTOPARAMS = '"2.5, 3.5"'		; MAG_AUTO parameters: <Kron_fact>, <min_radius>.
# BACK_SIZE = 64				; Background mesh: <size> or <width>,<height>.
# BACK_FILTERSIZE = 3				; Background filter: <size> or <width>,<height>.
# DEBLEND_NTHRESH = 16				; Number of deblending sub-thresholds.
# SATUR_LEVEL = 60000				; Saturation level (ADU).
# DEBLEND_MINCONT = 0.00001			; Minimum contrast parameter for deblending.
# GAIN = 0.55					; Detector gain (e-/ADU).
# rerun = True					; Runs SExtractor even if the catalog directory already exists.
# keepcat = True				; Keeps extracted catalog files.
# verbose = False				; Notifies the user via terminal.
#
# [asteroids]
# FWHM_MIN = 1					; Minimum FWHM for the candidate objects.
# FLUX = 500000					; Maximum flux for the candidate objects.
# ELONGATION = 1.8				; Maximum ellipticity for the candidate objects.
# SNR = 5					; Minimum SNR for the candidate objects.
# TRAVEL_MIN = 0.35				; Minimum travel distance between two images for a moving object.
# HEIGHT_MAX = 0.1				; Maximum height of the triangle for the 3 points to be considered as collinear.
# SCALE = 0.31					; Pixel scale subtended by the telescope/CCD system (arcsec).
# VMAX = 0.03					; Theoretical maximum angular velocity of NEOs ("/sec).
# TOLERANCE = 1.0				; Tolerance for the position of the third point (pixel).
# SPEED_MIN = 0.1				; Minimum speed of a moving object.
#
# [visuals]
# SPEED_MIN = 0.1				; Minimum speed of a moving object.
#############################################################################################################################################

# DO NOT CHANGE THESE SETTINGS IF YOU DON'T KNOW WHAT YOU ARE DOING!
[sources]
DETECT_THRESH = 3
ANALYSIS_THRESH = 3
DETECT_MINAREA = 1
PIXEL_SCALE = 0.31
SEEING_FWHM = 1.5
PHOT_AUTOPARAMS = '"2.5, 3.5"'
BACK_SIZE = 64
BACK_FILTERSIZE = 3
DEBLEND_NTHRESH = 16
SATUR_LEVEL = 60000
DEBLEND_MINCONT = 0.00001
GAIN = 0.55
rerun = True
keepcat = True
verbose = False

[asteroids]
FWHM_MIN = 1
FLUX = 500000
ELONGATION = 1.8
SNR = 10
TRAVEL_MIN = 0.50
HEIGHT_MAX = 0.15
SCALE = 0.31
VMAX = 0.03
TOLERANCE = 1.0
SPEED_MIN = 0.1

[visuals]
SPEED_MIN = 0.1
