[sources]
detect_thresh = 3
analysis_thresh = 3
detect_minarea = 1
pixel_scale = 0.26
seeing_fwhm = 1.5
phot_autoparams = '"2.5, 3.5"'
back_size = 64
back_filtersize = 3
deblend_nthresh = 16
satur_level = 60000
deblend_mincont = 0.00001
gain = 0.9
rerun = True
keepcat = True
verbose = False

[asteroids]
fwhm_min = 1
fwhm_coefficient = 2.5
flux_max = 500000
flag_max = 31
elongation_max = 1.8
snr_min = 5
travel_min = 0.5
height_max = 0.1
scale = 0.26
v_max = 0.03
tolerance = 1.0
speed_min = 0.1

[mpcreport]
lim_mag = 21
radius = 10
mpc_database_path = /Users/ykilic/Documents/playground/A-Track/mpcreporter/MPCORB.DAT
observatory = F51
contact = yucelkilic@myrafproject.org
catalog = GAIA DR1
ra = OBJCTRA
dec = OBJCTDEC
date = DATE-OBS
exptime = EXPTIME
observer = Y. Kilic
telescope = TELESCOP

